.fc-calendar .fc-event.approved {
  background-color: #4cb052;
  color: white;
}
.fc-calendar .fc-event.approved.timed {
  background-color: transparent;
  color: #4cb052;
}
.fc-calendar .fc-event.requested {
  background-color: #ff9900;
  color: white;
}
.fc-calendar .fc-event.requested.timed {
  background-color: transparent;
  color: #ff9900;
}
.fc-calendar .fc-event.publicholiday {
  background-color: #333333;
  color: white;
}
.fc-calendar .fc-event.publicholiday.timed {
  background-color: transparent;
  color: #333333;
}
.fc-calendar .fc-event.refused {
  background-color: #ff0000;
  color: white;
}
.fc-calendar .fc-event.refused.timed {
  background-color: transparent;
  color: #ff0000;
}
.fc-calendar .fc-event.reserved {
  background-color: #0099ff;
  color: white;
}
.fc-calendar .fc-event.reserved.timed {
  background-color: transparent;
  color: #0099ff;
}
