body {
  font-family: Arial;
}
.fc-calendar-container {
  position: relative;
  height: 422px;
  width: 100%;
}
.fc-calendar-container[data-view=week] {
  height: 400px;
}
.fc-calendar-container .fc-loading {
  display: inline-block;
  position: absolute;
  top: 13px;
  left: 5px;
  margin: 0;
}
.fc-calendar-container .fc-calendar {
  font-size: 12px;
  height: 100%;
  height: -moz-calc(100%);
  height: -webkit-calc(100%);
  height: calc(100%);
}
.fc-calendar-container .fc-calendar .fc-head {
  border: 1px solid #BCD4E5;
}
.fc-calendar-container .fc-calendar .fc-head > div {
  display: inline-block;
  width: calc(14.28571429%);
  text-align: center;
  font-weight: bold;
  background-color: #ECF2F7;
  color: #8090A0;
  box-shadow: -1px 0 0 #bcd4e5;
}
.fc-calendar-container .fc-calendar .fc-head > div:first-child {
  box-shadow: none;
}
.fc-calendar-container .fc-calendar .fc-body {
  border-bottom: solid 1px #ccc;
  position: relative;
  display: block;
  width: 100%;
  height: 100%;
  height: -moz-calc(100% - 18px);
  height: -webkit-calc(100% - 18px);
  height: calc(100% - 18px);
  border: 1px solid #ddd;
}
.fc-calendar-container .fc-calendar .fc-row {
  display: block;
  border-top: solid 1px #ccc;
  height: auto;
}
.fc-calendar-container .fc-calendar .fc-row:first-child {
  border-top: none;
}
.fc-calendar-container .fc-calendar .fc-row .fc-cell {
  padding: 0;
  z-index: 0;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  float: left;
  height: 100%;
  width: 14.28%;
  width: -moz-calc(14.28571429%);
  width: -webkit-calc(14.28571429%);
  width: calc(14.28571429%);
  position: relative;
  box-shadow: -1px 0 0 rgba(0, 0, 0, 0.2);
}
.fc-calendar-container .fc-calendar .fc-row .fc-cell:first-child {
  box-shadow: none;
}
.fc-calendar-container .fc-calendar .fc-row .fc-cell.fc-cell-weekend {
  background-color: #f7f7f7;
  background-color: rgba(0, 0, 0, 0.1);
}
.fc-calendar-container .fc-calendar .fc-row .fc-cell.fc-cell-today,
.fc-calendar-container .fc-calendar .fc-row .fc-cell.fc-cell-weekend.fc-cell-today {
  background-color: #F5F19C;
  background-color: rgba(255, 255, 13, 0.3);
}
.fc-calendar-container .fc-calendar .fc-row .fc-cell:hover,
.fc-calendar-container .fc-calendar .fc-row .fc-cell.fc-cell-highlight {
  background-color: #D6FAFE;
  background-color: rgba(74, 208, 255, 0.1);
}
.fc-calendar-container .fc-calendar .fc-row .fc-cell .fc-cell-date {
  position: relative;
  text-align: right;
  height: 15px;
  cursor: pointer;
  padding-right: 2px;
}
.fc-calendar-container .fc-calendar .fc-row .fc-cell .fc-cell-date:hover {
  font-weight: bold;
}
.fc-calendar-container .fc-calendar .fc-row .fc-cell.fc-cell-prev-month .fc-cell-date {
  color: #ccc;
}
.fc-calendar-container .fc-calendar .fc-row .fc-cell .fc-cell-weekday {
  display: none;
}
.fc-calendar-container .fc-calendar .fc-row .fc-cell .fc-events {
  position: relative;
}
.fc-calendar-container .fc-calendar .fc-event {
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  white-space: nowrap;
  padding: 2px 0 0;
  margin-bottom: 1px;
  overflow: visible;
  height: 16px;
  position: absolute;
  cursor: pointer;
  width: 100%;
  /* Default event style */
  background-color: #2334c4;
  color: #fff;
}
.fc-calendar-container .fc-calendar .fc-event.timed {
  background-color: transparent;
  color: #2334c4;
}
.fc-calendar-container .fc-calendar .fc-event .fc-event-label {
  height: 15px;
  width: 35px;
  overflow: hidden;
  position: relative;
  padding: 0 3px;
}
.fc-calendar-container .fc-calendar .fc-event.fc-event-middle .fc-event-label,
.fc-calendar-container .fc-calendar .fc-event.fc-event-end .fc-event-label {
  visibility: hidden;
  float: left;
}
.fc-calendar-container .fc-calendar .fc-event.fc-event-middle.fc-event-first-weekday .fc-event-label,
.fc-calendar-container .fc-calendar .fc-event.fc-event-end.fc-event-first-weekday .fc-event-label {
  visibility: visible;
  width: auto;
}
.fc-calendar-container .fc-calendar .fc-event.fc-event-middle.fc-event-first-weekday .fc-event-label:before,
.fc-calendar-container .fc-calendar .fc-event.fc-event-end.fc-event-first-weekday .fc-event-label:before {
  content: "< ";
}
.fc-calendar-container .fc-calendar .fc-event.fc-event-middle.fc-event-last-weekday .fc-event-label,
.fc-calendar-container .fc-calendar .fc-event.fc-event-end.fc-event-last-weekday .fc-event-label {
  width: 93%;
}
.fc-calendar-container .fc-calendar .fc-event.fc-event-middle.fc-event-last-weekday:after,
.fc-calendar-container .fc-calendar .fc-event.fc-event-end.fc-event-last-weekday:after {
  content: " >";
}
.fc-calendar-container .fc-calendar .fc-event.fc-event-start {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}
.fc-calendar-container .fc-calendar .fc-event.fc-event-start.fc-event-last-weekday .fc-event-label {
  position: relative;
  width: 100%;
  display: block;
}
.fc-calendar-container .fc-calendar .fc-event.fc-event-start.fc-event-last-weekday .fc-event-label:after {
  content: " >";
  position: absolute;
  right: 0;
}
.fc-calendar-container .fc-calendar .fc-event.fc-event-middle {
  overflow: visible;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
}
.fc-calendar-container .fc-calendar .fc-event.fc-event-end {
  -webkit-border-top-right-radius: 4px;
  -webkit-border-bottom-right-radius: 4px;
  -webkit-border-bottom-left-radius: 0;
  -webkit-border-top-left-radius: 0;
  -moz-border-radius-topright: 4px;
  -moz-border-radius-bottomright: 4px;
  -moz-border-radius-bottomleft: 0;
  -moz-border-radius-topleft: 0;
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
  border-bottom-left-radius: 0;
  border-top-left-radius: 0;
  -moz-background-clip: padding-box;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
}
.fc-calendar-container .fc-calendar .fc-event.fc-event-single,
.fc-calendar-container .fc-calendar .fc-event.fc-event-end {
  overflow: hidden;
  min-width: -moz-calc(100% - 1px);
  min-width: -webkit-calc(100% - 1px);
  min-width: calc(100% - 1px);
  width: -moz-calc(100% - 1px);
  width: -webkit-calc(100% - 1px);
  width: calc(100% - 1px);
}
.fc-calendar-container[data-view=month] .fc-calendar .fc-row .fc-cell {
  height: 100px;
  min-height: 100px;
}
.fc-calendar-container[data-view=week] .fc-calendar .fc-row .fc-cell {
  min-height: 380px;
}
.fc-calendar-container[data-view=week] .fc-calendar .fc-row .fc-cell .fc-cell-date {
  display: none;
}
.fc-calendar-container[data-view=day] .fc-calendar .fc-body.fc-today .fc-day-body {
  background-color: #F5F19C;
  background-color: rgba(255, 255, 13, 0.3);
}
.fc-calendar-container[data-view=day] .fc-calendar .fc-body div.day-table {
  border-collapse: collapse;
  position: relative;
  display: table;
  width: 100%;
  height: -moz-calc(100%);
  height: -webkit-calc(100%);
  height: calc(100%);
}
.fc-calendar-container[data-view=day] .fc-calendar .fc-body div .fc-day-events-full {
  margin-left: 55px;
  height: 20px;
  padding-right: 15px;
}
.fc-calendar-container[data-view=day] .fc-calendar .fc-body div .fc-day-body {
  top: 0;
  overflow: auto;
  height: calc(100% - 30px);
  position: relative;
}
.fc-calendar-container[data-view=day] .fc-calendar .fc-body div .fc-day-body .fc-day-hour {
  height: 15px;
  vertical-align: top;
}
.fc-calendar-container[data-view=day] .fc-calendar .fc-body div .fc-day-body .fc-day-hour .fc-day-left {
  display: inline-block;
  width: 50px;
  text-align: right;
}
.fc-calendar-container[data-view=day] .fc-calendar .fc-body div .fc-day-body .fc-day-hour .fc-day-left span {
  position: relative;
  display: block;
}
.fc-calendar-container[data-view=day] .fc-calendar .fc-body div .fc-day-body .fc-day-hour .fc-day-right {
  border-top: solid 1px #ccc;
}
.fc-calendar-container[data-view=day] .fc-calendar .fc-body div .fc-day-body .fc-day-now {
  background-color: #F00;
  height: 2px;
  display: block;
  position: absolute;
  left: 0;
  z-index: 1000;
  width: 100%;
  -moz-opacity: 0.5;
  -khtml-opacity: 0.5;
  -webkit-opacity: 0.5;
  opacity: 0.5;
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(opacity=50);
  filter: alpha(opacity=50);
}
.fc-calendar-container[data-view=day] .fc-calendar .fc-body div .fc-day-body .fc-half-hour .fc-day-left {
  font-size: 80%;
}
.fc-calendar-container[data-view=day] .fc-calendar .fc-body div .fc-day-body .fc-half-hour .fc-day-right {
  border-top: dotted 1px #ddd;
}
.fc-calendar-container[data-view=day] .fc-calendar .fc-body .fc-event {
  position: relative;
  min-width: 50px;
}
.fc-calendar-container[data-view=day] .fc-calendar .fc-body .fc-day-events-timed {
  height: auto;
  position: absolute;
  top: 33px;
  left: 0;
  width: 100%;
  z-index: 100;
}
.fc-calendar-container[data-view=day] .fc-calendar .fc-body .fc-day-events-timed > div {
  position: relative;
  width: 100%;
}
.fc-calendar-container[data-view=day] .fc-calendar .fc-body .fc-day-events-timed > div .fc-event {
  position: absolute;
  top: 0;
  width: 135px;
  left: 60px;
}
.fc-calendar-container[data-view=day] .fc-calendar .fc-body .fc-day-events-timed > div .fc-event .fc-event-label {
  white-space: normal;
  display: block;
  width: 100%;
  height: auto;
}
@media screen and (max-width: 767px) {
  .fc-calendar-container .fc-calendar .fc-head {
    display: none;
  }
  .fc-calendar-container .fc-calendar .fc-body {
    border-top: solid 1px #ccc;
  }
  .fc-calendar-container .fc-calendar .fc-body .fc-row {
    height: auto;
  }
  .fc-calendar-container .fc-calendar .fc-body .fc-row .fc-cell {
    display: block;
    width: 100%;
    box-shadow: -1px -1px 0 rgba(0, 0, 0, 0.2);
  }
  .fc-calendar-container .fc-calendar .fc-body .fc-row .fc-cell .fc-cell-date {
    position: relative;
    text-align: left;
    font-size: 16px;
    top: auto;
    right: auto;
    padding: 3px;
    display: block;
    height: 23px;
  }
  .fc-calendar-container .fc-calendar .fc-body .fc-row .fc-cell .fc-cell-weekday {
    display: inline-block;
    font-size: 12px;
    margin-left: 5px;
  }
  .fc-calendar-container .fc-calendar .fc-body .fc-row .fc-cell .fc-events {
    margin-top: 0;
  }
  .fc-calendar-container .fc-calendar .fc-body .fc-row .fc-cell .fc-events .fc-event {
    display: block;
  }
  .fc-calendar-container .fc-calendar .fc-body .fc-row .fc-cell .fc-events .fc-event .fc-event-label span {
    display: block;
  }
  .fc-calendar-container .fc-calendar .fc-body .fc-row .fc-cell .fc-events .fc-event.fc-event-start,
  .fc-calendar-container .fc-calendar .fc-body .fc-row .fc-cell .fc-events .fc-event.fc-event-middle,
  .fc-calendar-container .fc-calendar .fc-body .fc-row .fc-cell .fc-events .fc-event.fc-event-end {
    padding: 0;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    margin-left: 1px;
    width: 100%;
    width: -moz-calc(100% - 6px);
    width: -webkit-calc(100% - 6px);
    width: calc(100% - 6px);
  }
  .fc-calendar-container .fc-calendar .fc-body .fc-row .fc-cell .fc-events .fc-event.fc-event-start .fc-event-label,
  .fc-calendar-container .fc-calendar .fc-body .fc-row .fc-cell .fc-events .fc-event.fc-event-middle .fc-event-label,
  .fc-calendar-container .fc-calendar .fc-body .fc-row .fc-cell .fc-events .fc-event.fc-event-end .fc-event-label {
    width: 100%;
    visibility: visible;
  }
  .fc-calendar-container[data-view=day] .fc-calendar .fc-body .fc-day-events-timed .fc-event {
    width: 68px;
  }
  .fc-calendar-container[data-view=week] .fc-calendar .fc-body .fc-row .fc-cell {
    min-height: 84px;
    height: 84px;
  }
  .fc-calendar-container[data-view=week] .fc-calendar .fc-body .fc-row .fc-cell .fc-cell-date {
    height: 25px;
  }
}
