@disabled: #666666;
@requested: #FF9900;
@refused: #FF0000;
@reserved: #0099FF;
@approved: #4CB052;
@publicHoliday: #333333;

.contrastedText (@a) when (lightness(@a) >= 67%) {
  color: black;
}
.contrastedText (@a) when (lightness(@a) < 67%) {
  color: white;
}

.fc-calendar {
    .fc-event {
        &.approved {
            background-color: @approved;
            .contrastedText(@approved);
            &.timed {
                background-color:transparent;
                color: @approved;
            }
        }
        &.requested {
            background-color: @requested;
            .contrastedText(@requested);
            &.timed {
                background-color: transparent;
                color: @requested;
            }
        }
        &.publicholiday {
            background-color: @publicHoliday;
            .contrastedText(@publicHoliday);
            &.timed {
                background-color: transparent;
                color: @publicHoliday;
            }
        }
        &.refused {
            background-color: @refused;
            .contrastedText(@refused);
            &.timed {
                background-color:transparent;
                color: @refused;
            }
        }
        &.reserved {
            background-color: @reserved;
            .contrastedText(@reserved);
            &.timed {
                background-color:transparent;
                color: @reserved;
            }
        }
    }
}