@import "elements.less";

@phone: ~"screen and (max-width: 767px)";
@tablet: ~"screen and (min-width: 768px) and (max-width: 991px)";
@desktop: ~"screen and (min-width: 992px)";
@large: ~"screen and (min-width: 1200px)";

body {
	font-family: Arial;
}

.fc-calendar-container {
    position: relative;
    height: 422px;
    width: 100%;

    &[data-view=week] {
        height: 400px;
    }

    .fc-loading {
        display: inline-block;
        position: absolute;
        top: 13px;
        left: 5px;
        margin: 0;
    }

	.fc-calendar {
		font-size: 12px;
		height: 100%;
	    height: -moz-calc(~"100%");
	    height: -webkit-calc(~"100%");
	    height: calc(~"100%");

		.fc-head {
			border: 1px solid #BCD4E5;

			&> div {
				display: inline-block;
				width: calc(100%/7);
				text-align: center;
				font-weight: bold;
				background-color: #ECF2F7;
				color: #8090A0;
				box-shadow: -1px 0 0 #BCD4E5;

				&:first-child {
					box-shadow: none;
				}
			}
		}

		.fc-body {
			border-bottom: solid 1px #ccc;

			position: relative;
			display: block;
	        width: 100%;
	        height: 100%;
	        height: -moz-calc(~"100% - 18px");
	        height: -webkit-calc(~"100% - 18px");
	        height: calc(~"100% - 18px");
	        border: 1px solid #ddd;
		}

		.fc-row {
			display: block;
			border-top: solid 1px #ccc;
			height: auto;

			&:first-child {
				border-top: none;
			}

			.fc-cell {
				padding: 0;
	            position: relative;
	            z-index: 0;
	            .user-select(none);

	                float: left;
				    height: 100%;
				    width:  14.28%;
				    width: -moz-calc(100%/7);
				    width: -webkit-calc(100%/7);
				    width: calc(100%/7);
				    position: relative;

				// float: left;
				// width: calc(100%/7);
				box-shadow: -1px 0 0 rgba(0, 0, 0, 0.2);
				// overflow: hidden;
				

				&:first-child {
					box-shadow: none;
				}

				&.fc-cell-weekend {
					background-color: #f7f7f7;
					background-color: rgba(0,0,0,0.1);
				}
				&.fc-cell-today,
				&.fc-cell-weekend.fc-cell-today {
					background-color: #F5F19C;
					background-color: rgba(255, 255, 13, 0.3);
				}

				&:hover, &.fc-cell-highlight {
					background-color: #D6FAFE;
	                background-color: rgba(74, 208, 255, 0.1);
				}

				.fc-cell-date {
					position: relative;
					text-align: right;
					height: 15px;
					cursor: pointer;
					padding-right: 2px;

					&:hover {
						font-weight: bold;
					}
				}
				&.fc-cell-prev-month .fc-cell-date {
					color: #ccc;
				}

				.fc-cell-weekday {
					display: none;
				}

				.fc-events {
					position: relative;
				}
			}
		}

		.fc-event {
			position: absolute;

			.rounded(4px);
		    white-space: nowrap;
		    padding: 2px 0 0;
		    margin-bottom: 1px;
		    overflow: visible;
		    height: 16px;

		    position: absolute;
		    cursor: pointer;
			
			width: 100%;

			/* Default event style */
	        background-color: #2334c4;
	        color: #fff;
	        &.timed {
	            background-color: transparent;
	            color: #2334c4;
	        }
		    

			.fc-event-label {
				height: 15px;
				width: 35px;
				overflow: hidden;
				position: relative;
				padding: 0 3px;
			}

			&.fc-event-middle, &.fc-event-end {

				.fc-event-label {
					visibility: hidden;
					float: left;
				}
				&.fc-event-first-weekday {
					.fc-event-label {
						visibility: visible;
						width: auto;
						&:before {
							content: "< ";
						}
					}	
				}
				&.fc-event-last-weekday {
					.fc-event-label {
						width: 93%;
					}
					&:after {
						content: " >";
					}
				}
			}

			&.fc-event-start {
				border-top-right-radius: 0;
				border-bottom-right-radius: 0;

				&.fc-event-last-weekday {
					.fc-event-label {
						position: relative;
						width: 100%;
						display: block;
						&:after {
							content: " >";
							position: absolute;
							right: 0;
						}
					}
				}
			}
			
			&.fc-event-middle {
				overflow: visible;
				.rounded(0);
			}
			
			&.fc-event-end {
				background-clip: padding-box;
				.border-radius(4px, 4px, 0, 0);
			}
			
			&.fc-event-single,
			&.fc-event-end {
				overflow: hidden;
				min-width: -moz-calc(~"100% - 1px");
				min-width: -webkit-calc(~"100% - 1px");
				min-width: calc(~"100% - 1px");
				width: -moz-calc(~"100% - 1px");
				width: -webkit-calc(~"100% - 1px");
				width: calc(~"100% - 1px");
			}
		}

	}

	// View-specific styles

	&[data-view=month] {
		.fc-calendar {
			.fc-row {
				.fc-cell {
					height: 100px;
					min-height: 100px;

					.fc-event {
					}
				}
			}
		}
	}
	&[data-view=week] {
		.fc-calendar {
			.fc-row {
				.fc-cell {
					min-height: 380px;

					.fc-cell-date {
						display: none;
					}
				}
			}
		}
	}	
	&[data-view=day] {
		.fc-calendar {
			.fc-body {

				&.fc-today {
					.fc-day-body {
						background-color: #F5F19C;
						background-color: rgba(255, 255, 13, 0.3);
					}
				}

				div {
					&.day-table {
						width: 100%;
						border-collapse: collapse;
						position: relative;
					    display: table;
					    width: 100%;
					    height: -moz-calc(100%);
						height: -webkit-calc(100%);
						height: calc(100%);
					}

					.fc-day-events-full {
						margin-left: 55px;
						height: 20px;
						padding-right: 15px;
					}

					.fc-day-body {
						top: 0;
						overflow: auto;
						    height: calc(~"100% - 30px");
						    position: relative;

						.fc-day-hour {
							height: 15px;
							vertical-align: top;

							.fc-day-left {
								display: inline-block;
								width: 50px;
								text-align: right;

								span {
									position: relative;
									display: block;
								}
							}

							.fc-day-right {
								border-top: solid 1px #ccc;
							}
						}
						.fc-day-now {
				            background-color: #F00;
				            height: 2px;
				            display: block;
				            position: absolute;
				            left: 0;
				            z-index: 1000;
				            width: 100%;
				            .opacity(0.5);
				        }

						.fc-half-hour {
							.fc-day-left {
								font-size: 80%;
							}
							.fc-day-right {
								border-top: dotted 1px #ddd;
							}
						}
					}
				}

				.fc-event {
					position: relative;
					min-width: 50px;
				}

				.fc-day-events-timed {
					height: auto;
		        	position: absolute;
		        	top: 33px;
		        	left: 0;
		        	width: 100%;
		        	z-index: 100;

		        	&> div {
						position: relative;
						width: 100%;
						
			        	.fc-event {
			        		position: absolute;
				            top: 0;
				            width: 135px;
				            left: 60px;
				            
			        		.fc-event-label {
								white-space: normal;
								display: block;
								width: 100%;
								height: auto;
							}
			        	}
		        	}
		        }
			}
		}
	}
}


// Responsive stuff
@media @phone {
	.fc-calendar-container {
		.fc-calendar {
			.fc-head {
				display: none;
			}
			.fc-body {
				border-top: solid 1px #ccc;
				
				.fc-row {
					height: auto;
					.fc-cell {
						display: block;
						width: 100%;
						box-shadow: -1px -1px 0 rgba(0, 0, 0, 0.2);
						
						.fc-cell-date {
							position: relative;
							text-align: left;
							font-size: 16px;
							top: auto;
							right: auto;
							padding: 3px;
							display: block;
							height: 23px;
						}
						.fc-cell-weekday {
							display: inline-block;
							font-size: 12px;
							margin-left: 5px;
						}

						.fc-events {
							margin-top: 0;

							.fc-event {
								// position: relative;
								display: block;

								.fc-event-label {
									span {
										display: block;
									}
								}
								&.fc-event-start,
								&.fc-event-middle,
								&.fc-event-end {
									padding: 0;
									.rounded(4px);
									margin-left: 1px;
									width: 100%;
									width: -moz-calc(~"100% - 6px");
									width: -webkit-calc(~"100% - 6px");
									width: calc(~"100% - 6px");
									.fc-event-label {
										width: 100%;
										visibility: visible;
									}
								}
							}
						}
					}
				}
			}
		}
		&[data-view=day] {
			.fc-calendar {
				.fc-body {
					.fc-day-events-timed {
						.fc-event {
							width: 68px;
						}
					}
				}
			}
			
		}
		&[data-view=week] {
			.fc-calendar {
				.fc-body {
				.fc-row {
					.fc-cell {
						min-height: 84px;
						height: 84px;
						
						.fc-cell-date {
							height: 25px;
						}
					}
				}
				}
			}
		}
	}
}